.one{
    height:700px;
    width:500px;
    background-color:rgb(5, 37, 64);
}
h6{
    color:white;
    padding-top: 60px;
    text-align:center;
}
.two{
  
     margin-left:205px; 
}
#one{
    background-color:rgb(7, 31, 50);
    height:30px;
    width:200px;
    color:white;
    border-radius:6px;
    padding-top: 5px;
    text-align:start;
    font-family: "Roboto", serif;
    
}
#thre{
    background-color:rgb(7, 31, 50);
    height:30px;
    width:200px;
    color:white;
    border-radius:6px;
    padding-top: 5px;
    text-align:start;
    font-family: "Roboto", serif;
    
}
#for{
    background-color:rgb(7, 31, 50);
    height:30px;
    width:200px;
    color:white;
    border-radius:6px;
    padding-top: 5px;
    text-align:start;
    font-family: "Roboto", serif;
}
#fiv{
    background-color:rgb(7, 31, 50);
    height:30px;
    width:200px;
    color:white;
    border-radius:6px;
    padding-top: 5px;
    text-align:left;
    font-family: "Roboto", serif;
}
#six{
    background-color:rgb(7, 31, 50);
    height:30px;
    width:200px;
    color:white;
    border-radius:6px;
    padding-top: 5px;
    text-align:start;
    font-family: "Roboto", serif;

}
#svn{
    background-color:rgb(7, 31, 50);
    height:30px;
    width:200px;
    color:white;
    border-radius:6px;
    padding-top: 5px;
    text-align:start;
    font-family: "Roboto", serif;
}
#eit{
    background-color:rgb(7, 31, 50);
    height:30px;
    width:200px;
    color:white;
    border-radius:6px;
    padding-top: 5px;
    text-align:start;
    font-family: "Roboto", serif;
}
#two{
    background-color:rgb(7, 31, 50);
    height:30px;
    width:200px;
    color:white;
    border-radius:6px;
    padding-top: 5px;
    text-align:start;
    font-family: "Roboto", serif;
}
#Nine{
    background-color:rgb(7, 31, 50);
    height:30px;
    width:200px;
    color:white;
    border-radius:6px;
    padding-top: 5px;
    text-align:start;
    font-family: "Roboto", serif;
}
#Ten{
    background-color:rgb(7, 31, 50);
    height:30px;
    width:200px;
    color:white;
    border-radius:6px;
    padding-top: 5px;
    text-align: start;
    font-family: "Roboto", serif;
}
#a{
    height:20px;
    margin-left: 100px;
    padding-top: 5px;}
    #b{
        height:20px;
        margin-left: 70px;
        padding-top: 5px;}

        #c{
            height:20px;
            margin-left: 55px;
            padding-top: 5px;}

#d{
      height:20px;
    margin-left: 60px;
       padding-top: 5px;}

 #e{  height:20px;
         margin-left: 55px;
        padding-top: 5px;}

     #f{ height:20px;
     margin-left: 49px;
     padding-top: 5px;}

#g{  height:20px;
   margin-left: 45px;
 padding-top: 5px;}

  #h{
      height:20px;
      margin-left: 40px;
      padding-top: 5px;}

      #i{
        height:20px;
        margin-left: 57px;
        padding-top: 5px;}

        #j{
            height:20px;
            margin-left: 40px;
            padding-top: 5px;}
                                           



















